.blog-details {
  &__title {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 10px;
  }

  &__description {
    margin: 20px 0;
  }

  .blog-details button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
}